.editableSpan {
display: flex;
}

.titleSpan {
width: 300px;
display: flex;
align-items: center;
padding-left: 5px;
}

.editableSpan > input {
    font-size: 20px;
    background-color: rgb(212, 212, 212);
    margin-left: 40px;
    margin-right: 14px;
}